body {
}

div.menu {
  width: 100%;
  display: block;
  height: 40px;
  text-align: center;
}

div.hero {
  width: 100%;
  display: block;
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 300px;
  padding: 20px;
}

h1  {
  font-family: "Arial Black", sans-serif;
}
